@use "../../styles/partials/colors" as *;

.card {
    border: 1px solid $emph-two;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    height: 15rem;
    margin: 1rem auto;
    padding: 1rem;
    position: relative;
    width: 40rem;

    &__text {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
    }

    &__detail {
        background-color: transparent;
    }

    &__category-label {
        background-color: transparent;
        position: absolute;
        right: 1.5rem;;
        top: 1rem;
    }
    &__image {
        border-radius: 0.5rem;
        // position: absolute;
        // right: 1rem;
        // top: 3rem;
        width: 8rem;
    }
    &__buttons {
        background-color: transparent;
        display: flex;
        flex-direction: row;
        padding: 1rem 0;
    }
    &__to-consume-button {
        background-color: $emph-two;
        border: none;
        border-radius: 1rem;
        color: white;
        margin: 1rem;
        padding: 0.5rem 0.5rem;
    }
    &__consumed-button {
        background-color: $emph-two;
        border: none;
        border-radius: 1rem;
        color: white;
        margin: 1rem;
        padding: 0.5rem 0.5rem;
    }
}

.books-button {
    margin-top: 2rem;
}

.films-button {
    margin-top: 3rem;
}

.albums-button {
    margin-top: 2rem;
}

.card-books {
    background-color: lightseagreen;
}

.card-films {
    background-color: lightpink;
}

.card-albums {
    background-color: lightblue;
}

.albums-coming-soon {
    color: red;
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.request-symbol {
    background-color: transparent;
}