@use "../../styles/partials/colors" as *;

.searchbar {

    &__form {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    &__input {
        background-color: $light-one;
        border: 2px solid $emph-two;
        border-radius: 1rem;
        margin: 1rem;
        padding: 1rem;
        width: 40%;

        &::placeholder {
            color: $emph-two;
        }
    }
    &__dropdown {
        background-color: $light-one;
        color: $emph-two;

    }
    &__button {
        background-color: $light-one;
        border: 2px solid $emph-two;
        border-radius: 1rem;
        color: $emph-one;
        font-weight: bold;
        margin: 1rem;
        padding: 1rem 2rem;
        width: 20%;
    }
}