@use "../../styles/_partials/variables" as *;

.searchbar {

    &__form {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    &__input {
        background-color: $dodger-light;
        border: 2px solid $dodger-dark;
        border-radius: 1rem;
        margin: 1rem;
        padding: 1rem;
        width: 40%;

        &::placeholder {
            color: $dodger-dark;
        }
    }
    &__dropdown {
        background-color: $dodger-light;
        border: none;
        color: $dodger-dark;

    }
    &__button {
        background-color: $dodger-light;
        border: 2px solid $dodger-dark;
        border-radius: 1rem;
        color: $dodger-dark;
        font-weight: bold;
        margin: 1rem;
        padding: 1rem 2rem;
        width: 20%;
    }
}