@use "../../styles/_partials/variables" as *;

.header {
    // align-items: center;
    background-color: $dodger-light;
    border: 3px solid $dodger-dark;
    border-radius: 2rem;
    display: flex;
    // flex-direction: column;
    margin: 1rem;
    padding: 2rem 0;
    text-align: center;
    justify-content: space-between;
    align-items: center;

    &__title {
        background-color: transparent;
        color: $dodger-dark;
        font-size: 6rem;
        padding: 2rem;
        text-decoration: none;
        // width: 80%;
    }
    &__subtitle {
        background-color: transparent;
        color: $dodger-dark;
        // width: 80%;
    }

    &__library-logo {
        background-color: transparent;
        color: $dodger-dark;
        font-size: 3rem;
        padding: 2rem;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }

    &__library-user {
        background-color: transparent;
        color: $dodger-dark;
    }
}