@use "../../styles/_partials/variables" as *;

.scroll-menu {
    overflow: auto;
        white-space: nowrap;
        display: flex;

    &__card {
        padding: 1rem 2rem;
        display: inline-block;
        height: 40rem;
        width: 25rem;
        background-color: $dodger-dark;
        border: 1pz solid black;
        margin: 1rem;
        position: relative;
        text-align: center;
        border-radius: 10px;
        box-shadow: -3px 0px 43px -18px rgba(0,0,0,0.1);

        // &:hover {
        //     // border: 2px solid $secondary-text;
        // }
    }

    &__card-img {
        width: 20rem;
        aspect-ratio: 9/14;
        margin: 1rem 0;
        border-radius: 2rem;

    }

    &__card-title {
        color: $dodger-light;
        // padding: 1rem;
        background-color: $dodger-dark;
        white-space: initial;

    }

    &__delete-button {
        position: absolute;
        top: 0.4rem;
        right: 0.4rem;
        width: 2rem;
        border-radius: 0.5rem;
        background-color: transparent;
    }
}