@use "../../styles/_partials/variables" as *;

.user-library {
    background-color: red;

    &__head-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
    }

    &__title {
        color: $dodger-dark;
        font-size: 5rem;
    }

    &__buttons {
        display: flex;
    }

    &__button {
        background-color: $dodger-dark;
        color: $dodger-light;
        margin: 1rem;
        width: 10rem;
        padding: 1rem;
        border: none;
        border-radius: 5px;
    }

    &__button--active {
        border: 2px solid red;
    }

    // &__main {
    // }

    &__subtitle {
        font-size: 3rem;
        padding: 1rem 2rem;
        text-decoration: none;
        color: $dodger-dark;
        border-top: 2px solid $dodger-dark;
    }
}