@use "../../styles/_partials/variables" as *;

.user-library {
    background-color: $primary-background;

    &__head-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
    }

    &__title {
        color: $primary-text;
        font-size: 5rem;
    }

    &__buttons {
        display: flex;
    }

    &__button {
        background-color: $secondary-background;
        color: $secondary-text;
        margin: 1rem;
        width: 10rem;
        padding: 1rem;
        border-radius: 5px;
    }

    &__button--active {
        border: 2px solid red;
    }

    // &__main {
    // }

    &__subtitle {
        font-size: 3rem;
        padding: 1rem 2rem;
        text-decoration: underline;
        color: $secondary-text;
    }
}